<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <style>
        body{
            background-image: url({% static 'my_app/spotlight1.jpg' %});
        }
        </style>
    
    <title>Video-Games!</title>
</head>
<body>
    <div id="wrapper">
        <div id="topper">        
            <div id="credentials">
                <p id="top-cred">Logged in as, <a href="/myaccount/{{user.id}}"><u><b>{{user.user_name}}</b></u></a> <a id="logout" href='/logout'> <b>| logout</b></a></p>
            </div>

            <div id="log-cent">
                
                <image id="vidcam" src="{% static 'my_app/video-camera.svg' %}" alt="#"></image>
                <div id="logo">
                    <h1 id="fc">FanCast!</h1>
                    <br>
                    <p>A place to cast any character imagineable!</p>             
                </div>
                            
            </div>
            

        </div>
        <div id="main_butt">
            <a  class="btn btn-outline-dark" href='/add'>Create your fan casting!</a>
        </div>

        <div id="main">
           <h2 class="gen-header">Video-Games</h2>
           {% for topic in vggen %}
           <div class="col-xs-1 col-m-2 col-lg-4 gen-box">
               <p>
                   <h3 class="gen-head">{{topic.name}}</h3>
                   <br>
                   uploaded by:{{topic.user.user_name}}

               </p>
               <img src="{{topic.image.url}}" class="gen-pix" alt="...">
           </div>
           {% endfor %}



        </div>
        
        

        




        
        <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
    <!-- ~~JS~~ -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>     
</body>
</html>